################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KellerGame
/Engine
/DirectX9c
/Binaries
/Debug
/.vs
/TeknoR6Vegas2/Debug
/TeknoR6Vegas2/Release/TeknoR6Vegas2.tlog
/TeknoR6Vegas2/Release
/Release/TeknoR6Vegas2.pdb
/PB
/Support/Manual
/Support/PatchNotes
/VCRedist
/Support/Readme
/BackupConfig
/TeknoR6Vegas2/app.apps
/TeknoR6Vegas2/app.rc
/TeknoR6Vegas2/TeknoR6Vegas2.vcxproj.user
/Decompile/*

